<header class="navbar">
    <div class="logo">
      <a routerLink="/">MyShop</a>
    </div>
    <nav>
      <ul class="nav-links">
        <li><a routerLink="/products" routerLinkActive="">Home</a></li>
        <li><a routerLink="/" routerLinkActive="">Login</a></li>
        <li><a routerLink="/register" routerLinkActive="">Register</a></li>
        <li><a routerLink="/addProduct" routerLinkActive="">Add Product for sale</a></li>
        <li><a routerLink="/deleteProduct" routerLinkActive="">Delete Product</a></li>
      </ul>
    </nav>
  </header>
  